h2 {
  margin: 0;
  padding: 15px 0px 10px 25px;
  color: #ff1111;
}
#container{
  margin: 0 auto;
  width: 1024px;
}
#header {
  margin: 0;
  float: left;
  text-align: center;
  width: 1024px;
  font-family: 'Droid Sans', sans-serif;
  background: #0077dd;
  color: #000000;
}
ul#navigation{ 
  margin: 0;
  padding: 0;
  float:left;
  text-align: center;
  list-style: none;
  width: 1024px;
  font-family: 'Droid Sans', sans-serif;
  background: #000000;
  color: #dddddd;
}
ul#navigation li{
  float: left;
  padding: 5px 0px 5px 30px;
}
#content {
  margin: 0;
  float: left;
  width: 768px;
  font-family: 'Droid Sans', sans-serif;
  background: #eeeeee;
  color: #000000;
}
#sidebar {
  margin: 0;
  padding: 0;
  float: right;
  width: 256px;
  font-family: 'Droid Sans', sans-serif;
  background: #555555;
  color: #eeeeee;
}
ul#sidebarlist1 {
  margin: 0;
  padding: 0;
  float: right;
  width: 256px;
  background: #555555;
  color: #eeeeee;
}
ul#sidebarlist1 li{
  list-style: none;
  padding: 5px 0px 5px 40px;
}